* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(44, 39, 39);
}

h1 {
  background-color: yellow;
  text-align: center;
  color: blue;
}

h6 {
  visibility: hidden;
}

button {
  background-color: blue;
}
